.container-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 25px;
    z-index: 1001;
}

.button-d{
    width: 317px;
    height: 42px;
    background-color: #14BF61;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 0.25rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border: none;
    position: relative;
    color: white;
}

.button-e{
    height: 39px;
    width: 39px;
    font-size: 40px;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    background-color: #bcbcbc;
}

.container-i{
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 844px;
    z-index: 1001;
    position: fixed;
    top: 0;
    /* border: 1px solid #c4c4c4; */
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.i1{
    width: 390px;
    height: 700px;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

.i2{
    width: 390px;
    height: 80px;
    z-index: 1001;
    background-color: #ffff;
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    bottom: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.i3{
    display: flex;
    flex-direction: column;
    width: 365px;
}

.i3 button{
    font-size: 24px;
    border: none;
    background-color: transparent;
}

.b2{
    color: red;
}