.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  z-index: 1001; /* เพิ่ม z-index ให้สูงกว่า animation */
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-item:active {
  transform: scale(0.95);
}

.nav-icon {
  background-color: #232323;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 4px;
  transition: background-color 0.2s ease;
}

.nav-icon.active {
  background-color: #14BF61;
}

.nav-item span {
  font-size: 0.75rem;
  color: #fff;
  user-select: none;
}