.container-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: hsl(147, 81%, 41%);
    font-family: 'Kanit', sans-serif;
}

.title{
    margin-left: 20px;
}

.reg-log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    width: 100vw;
}

.btn{
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 30px;
    padding: 15px 120px;
}

.btn:hover{
    background-color: #efefef;
}