.marker-red {
    font-size: 24px;
    color: #FF3D00;
}

.marker-green {
    font-size: 24px;
    color: #14BF61;
}

.marker-car {
    font-size: 24px;
    color: #14BF61;
}

.leaflet-popup-content {
    text-align: center;
}


.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.price {
    display: flex;
    justify-content: space-between;
}

.leaflet-routing-container {
    display: none !important;
    /* ซ่อนคำแนะนำเส้นทางทั้งหมด */
}